{% extends "layout.html" %}

{% block body %}

<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <!-- <img src="/static/logo.png" alt="logo"> -->
        <svg width="300" height="100">
        {{ logo }}
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/weather" method="post" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" name="symbol" placeholder="Enter City or Zip" aria-label="Search">
      </form>

    </div>
  </div>
</header>

<br>

<ul>
  <li>Location: {{weather['fullWeather']['location']['name']}}, {{weather['fullWeather']['location']['region']}} </li>
  <li>Current Temp: {{weather['fullWeather']['current']['temp_f']}}</li>
  <li>High: {{weather['fullWeather']['forecast']['forecastday'][0]['day']['maxtemp_f']}}</li>
  <li>Low: {{weather['fullWeather']['forecast']['forecastday'][0]['day']['mintemp_f']}}</li>
</ul>  

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Centered nav only</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <form  action="/weather" method="post" role="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input class="form-control form-control-dark text-bg-dark" name="symbol" type="search" placeholder="Enter City" aria-label="Search" >
          </form>
        </ul>
      </div>
    </div>
  </nav>


  

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        
        <form action="/weather" method="post" class="d-flex" role="search">
          <input class="form-control me-2" name="symbol" type="text" placeholder="Enter City" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

   <!--  <form action="/weather" method="post">
        <input autocomplete="off" autofocus name="symbol" placeholder="Enter City" type="text">
        <input type="submit" value="submit">
    </form> -->


{% endblock %}

